{% load staticfiles %}
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <title>Worky Test</title>
    </head>
    <body>
        <div id="app" class="container">
            <h1 class="d-flex justify-content-center">
                Worky Test
            </h1>
            <router-view></router-view>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script src="{% static 'js/home.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>